{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="navigation text-center col">
            {{ knp_pagination_render(listings) }}
        </div>

        {# category selector #}
        <div class="dropdown col">
            <button class="btn btn-secondary dropdown-toggle m-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ 'label.chooseCategoryButton'|trans }}
            </button>
             {% if categories is defined and categories %}
            <ul class="dropdown-menu">
                <li><a class="dropdown-item bg-warning" href="{{ url('listings_index') }}">{{ 'button.clearCategory'|trans }}</a></li>
                {% for category in categories %}
                <li><a class="dropdown-item" href="{{ url('listings_index', {categoryId: category.id}) }}">{{ category.title }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

    </div>

{% if listings is defined and listings.items|length %}
    <table class="table">
     <thead>
         <tr>
             <th scope="col">{{ knp_pagination_sortable(listings, 'label.title'|trans, 'listing.title') }}</th>
             <th scope="col">{{ knp_pagination_sortable(listings, 'label.activatedAt'|trans, 'listing.activatedAt') }}</th>
         </tr>
     </thead>

     <tbody>
        {% for listing in listings.items %}
            <tr>
                <td>{{ listing.title }}</td>
                <td>{{ listing.activatedAt|date('d.m.Y') }}</td>
            </tr>
        {% endfor %}
     </tbody>
    </table>

    <div class="navigation text-center">
        {{ knp_pagination_render(listings) }}
    </div>



{% else %}
    <p>{{ 'message.empty_list'|trans }}</p>
{% endif %}

{% endblock %}