{% extends 'base.html.twig' %}

{% block content %}

    <a href="{{ url('listing_index') }}" class="btn btn-secondary col-5 my-3 mx-auto">{{ 'action.back_to_list'|trans }}</a>

    {% if listing %}
        <div class="card" style="width: 80%; margin: 0 10%;">
            <div class="card-body">
                <h1 class="card-title">{{ listing.title }}</h1>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ 'label.activatedAt'|trans }}: {{ listing.activatedAt|date('d.m.Y') }}</h6>
                <p class="card-text">{{ listing.description }}</p>
            </div>
        </div>

    {% else %}
        <p>{{ 'message.listing_not_found'|trans }}</p>

    {% endif %}

{% endblock %}