{% extends 'base.html.twig' %}

{% block title %}{{ 'title.login'|trans }}{% endblock %}

{% block content %}
    <form method="post" action="{{ path('app_login') }}" style="width: 40%" class="gap-2 my-3 mx-auto border border-secondary rounded-4 border-3 bg-secondary bg-opacity-50">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                {{ 'message.already_logged_in'|trans }}: {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">{{ 'action.logout'|trans }}</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">{{ 'label.please_sign_in'|trans }}</h1>
        <label for="username">{{ 'label.username'|trans }}</label>
        <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="username" required autofocus>
        <label for="password">{{ 'label.password'|trans }}</label>
        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
        <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

        <div class="d-flex gap-2 flex-column flex-lg-row m-4">
            <button class="btn btn-lg btn-primary" type="submit">{{ 'action.login'|trans }}</button>
            <a class="btn btn-lg btn-secondary">{{ 'action.go_to_listings' }}</a>
        </div>
    </form>


{% endblock %}
